html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
#map{
    height: 100%;
	width: 100%;
	/* position: relative; */
}
.map{
    height: 400px;
	width: 100%;
	position: relative;
}
.container {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}
.elements {
    width: 49%;
	display: inline-block;
	margin-right: 10px;
}
.coordinates {
	width: 49%;
	display: inline-block;
}
#long, #lat {
	background-color: lightblue;
	margin: 10px 0;
	padding: 7px 0;
	text-align: center;
}
.url {
	margin: 10px 0;
}
#link {
	border: 1px solid black;
	padding: 7px; 
}
.short {
	border: 1px solid black;
	padding: 7px; 
	width: 90%;
	margin: 0 auto;
	float: left;
}
.button {
	float: right;
	padding: 9px 12px;
	background-color: darkgray;
	border: none;
	color: white;
}
.timer {
	position: absolute;
	left: 45%;	
	bottom: 20px;
	font-weight: bold;
}
.header{	
	font-size: 20px;
}
#time{
	font-size: 90px;
}
.storage {
	position: absolute;
	top: 0;
	right: 0px;
	background-color: white;
	z-index: 10;
	height: 400px;
	width: 20%;
	opacity: 0.5;
}
.storage p{
	margin-top: 20px;
	margin-left: 30px;
}
a {
    color: #0060B6;
    text-decoration: none;
}
a:hover{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}